{
  "env": {
    "node": true
  },
  "parser": "@babel/eslint-parser",
  "extends": ["sanity", "sanity/react", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "rules": {
    "newline-per-chained-call": 0,
    "sort-imports": 0
  }
}
